:root {
    --orange: #ee6352;
    --purple: rebeccapurple;
    --gradient: linear-gradient(45deg, var(--purple), var(--orange));
    --gradient-continuous: linear-gradient(45deg, var(--orange), var(--purple), var(--orange), var(--purple));
    --gradient-continuous-back: linear-gradient(45deg, var(--purple), var(--orange), var(--purple), var(--orange));
    --light-orange: rgba(237, 99, 81, 0.3);
    --dark: gray(68);
    --gray: gray(102);
    --corner-round: 0.3em;
}

*, *::before, *::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

::-moz-focus-inner {
    outline: none;
}

body {
    font-family: "Fira Sans", sans-serif;
    line-height: 1.5em;
    font-size: min(1.3rem, min(4vw, 4vh));
    color: var(--dark);
    min-font-size: 0.5em;
}

.center-card {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

body.center-card {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.center-card {
    background: white;
    width: 70%;
    max-width: 80ch;
    min-width: 40ch;
    padding: 3em;
    box-shadow: 0 0 3em rgba(0, 0, 0, .2);
    border-radius: var(--corner-round);
}

body.gradient {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 400%;
    background-image: var(--gradient-continuous);
    animation: gradient-animation-continuous 500s infinite linear normal;
}

/* Turns off the animation when the window is not active since it's kind of CPU intensive. */
body.gradient:-moz-window-inactive {
    animation-play-state: paused
}

@keyframes gradient-animation-continuous {
    0% {
        background-position: left
    }
    100% {
        background-position: right
    }
}

@keyframes gradient-animation {
    0% {
        background-position: left
    }
    50% {
        background-position: right
    }
    100% {
        background-position: left
    }
}

.submit {
    padding: 0.7em;
    min-width: 10ch;
}

.br-submit {
    width: 30%;
}

.submit:active {
    background: linear-gradient(145deg, #d6594a50, #ff6a5819);
}

.full-length {
    width: calc(98% - 0.2em - 0.5em);
}

.text-input {
    padding: 0.5em;
}

.text-input::placeholder {
    color: var(--gray);
}

.interactive {
    margin: 0.2em;
    align-self: center;
    font-size: 100%;
    border-radius: var(--corner-round);
    border: 0.05em solid var(--orange);
    color: var(--purple);
    background-color: transparent;
    caret-color: var(--orange);

    box-shadow: 0 0 0 0 white,
    0 0 0 0 var(--purple),
    0 0 0 0 var(--orange);

    /* This is applied on the way back */
    transition: box-shadow 200ms cubic-bezier(.68, -0.55, .17, 1);
}

/*noinspection CssInvalidPseudoSelector*/
.interactive:-webkit-autofill,
.interactive:-moz-autofill,
.interactive:autofill {
    background: linear-gradient(145deg, #d6594a50, #ff6a5819);
}

.interactive:user-invalid {
    border-color: red;
}


.interactive:hover {
    box-shadow: 0 0 0 0 white,
    0 0 0 0 var(--purple),
    0 0 0 0.1em var(--orange);
    transition: box-shadow 200ms cubic-bezier(.68, -0.55, .27, 1.55);
}

.interactive:focus {
    outline: none;
    box-shadow: 0 0 0 0.4em white,
    0 0 0 0.7em var(--purple),
    0 0 0 0 var(--orange);
    /* This is applied on the way out */
    transition: box-shadow 200ms cubic-bezier(.76, 0, .27, 1.55);
}

.text-input::selection {
    outline: 0.05em solid var(--orange);
    background-color: var(--light-orange);
}

.redirect-title {
    display: block;
    font-weight: bold;
}

.header {
    text-align: center;
    position: fixed;
    width: 100%
}

.title {
    /*
    color: transparent;
    noinspection CssInvalidPropertyValue
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 400%;
    background-image: var(--gradient-continuous);
    animation: gradient-animation-continuous 500s infinite linear normal;
    */
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--dark);
    text-decoration: underline solid var(--orange) 0.07em;
    font-size: 1.2rem;
}

nav a:hover {
    color: transparent;
    /*noinspection CssInvalidPropertyValue*/
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 400%;
    background-image: var(--gradient-continuous-back);
    animation: gradient-animation-continuous 1s infinite linear normal;
}